APP_NAME="Lift Tracker"
APP_ENV=local
APP_KEY=base64:zC71gmYQWdiDULHu26SgZSpHVEdmiwqcIgsWiiviZFw=
APP_DEBUG=true
APP_URL=lift-tracker.io

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=lift_tracker
DB_USERNAME=lift_tracker
DB_PASSWORD=

TEST_DB_DATABASE=lift_tracker_test
TEST_DB_USERNAME=lift_tracker_test
TEST_DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
