/node_modules
/static/hot
/static/storage
/static/js/*
/static/js/app.js
/static/css/*
/static/fonts/*
/static/mix-manifest.json
/static/index.html
/static/hot
/vendor
auth_config.js
npm-debug.log
.env
index.html
hot
