/node_modules
/public/hot
/public/storage
/public/js/*
/public/js/app.js
/public/css/*
/public/fonts/*
/public/mix-manifest.json
/storage/*.key
/vendor
auth_config.json
npm-debug.log
yarn-error.log
.env
