/node_modules
/dist/*
/resources/js/test/dump/*
/resources/node_modules/*
/public/service-worker.js
/vendor
config.json
npm-debug.log
.env
.env.e2e.local
hot
.ai/scratch/**
playwright-report/
test-results/
