@import 'variables';


@mixin border-bottom {
  border-bottom: 1px solid $border-color;
}

@mixin full-border {
  border: 1px solid $border-color;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}