/**
  Bootstrap button overrides
 */

@import '../variables';

.btn {

  &.btn-primary {
    color: $primary-color-dark;
    background-color: $primary-color;
    border-color: $border-color;

    &:active:focus, &:hover {
      color: $primary-color-dark;
      background-color: darken($primary-color, 10%);
      border-color: darken($border-color, 10%);
    }
  }

}
//overrides Bootstrap's btn-*:focus|active styles
.btn:focus, .btn:active {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem $primary-color !important;
  box-shadow: 0 0 0 0.2rem $primary-color !important;
}

//overrides Bootstrap's form-control:focus
input:not([type='checkbox']):focus {
  border-color: $border-color !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem $primary-color !important;
  box-shadow: 0 0 0 0.2rem $primary-color !important;
}
