/**
  Bootstrap card overrides
 */

@import '../_mixins';
@import '../variables';

.card-header {
  color: $primary-color-dark;
  border: 1px solid $primary-color;
  background-color: $primary-color;
}