@import url(https://fonts.googleapis.com/css?family=Nunito);/**
  Utility classes
 */

.display-inline {
  display: inline;
}

body {
  color: #524f52;
}

p {
  margin-left: 20px;
}

/**
  Bootstrap button overrides
 */

.fa-trash {
  color: rgba(255, 0, 0, 0.5);
}

.nav-link,
.navbar-brand {
  color: #eae9ea;
}

.nav-link:hover,
.navbar-brand:hover {
  color: white;
}

.main-nav-bar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #524f52;
}

.navbar-burger {
  width: 25px;
  padding: 5px 0 0;
}

.navbar-burger.navbar-burger__layer {
  border-radius: 5px;
  height: 4px;
  background: #eae9ea;
  padding-top: 0;
  margin: 4px 0 4px 0;
}

/**
  Bootstrap card overrides
 */

.card-header {
  color: #524f52;
  border: 1px solid #eae9ea;
  background-color: #eae9ea;
}

/**
  Bootstrap button overrides
 */

.btn.btn-primary {
  color: #524f52;
  background-color: #eae9ea;
  border-color: rgba(0, 0, 0, 0.125);
}

.btn.btn-primary:active:focus,
.btn.btn-primary:hover {
  color: #524f52;
  background-color: #d1cfd1;
  border-color: rgba(0, 0, 0, 0.125);
}

.btn:focus,
.btn:active {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #eae9ea !important;
}

.btn:focus.btn-link,
.btn:active.btn-link {
  box-shadow: none !important;
}

input:not([type=checkbox]):focus {
  border-color: rgba(0, 0, 0, 0.125) !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #eae9ea !important;
}

/**
  Bootstrap toast overrides
 */

.toast-wrapper {
  position: absolute;
  z-index: 100;
}

.toast {
  min-width: 300px;
}

.form-section-divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.drag-handle {
  cursor: pointer;
}

.sortable-ghost {
  visibility: hidden;
}

.sortable-chosen {
  cursor: pointer !important;
}

.dragging-exercise-card.exercise-card,
.dragging-workout-card .workout-card {
  cursor: pointer !important;
  transform: rotate(4deg);
  box-shadow: 0 5px 10px var(--secondary);
}

