<?xml version="1.0"?>
<configuration agentEnabled="true">
    <application>
        <name>Lift Tracker API</name>
    </application>
    <log forwarding="" enabled="true">
        <log_files>
            <log_file>
                <path>/var/log/lift-tracker-api/log.ndjson</path>
                <file_format>json</file_format>
            </log_file>
        </log_files>
        <log_enrichments>
            <enrich_with_metadata>true</enrich_with_metadata>
        </log_enrichments>
    </log>
</configuration>
